* {
    box-sizing: border-box; 
}

body, html {
    height: 100%;
    font-family: 'Baskervville', serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.input-group {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-text {
    border: 1px solid grey; 
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    -webkit-appearance: none;
}

.add {
    background-color: #007bff; 
    border: 1px solid #0062cc; 
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    font-weight: bold;
    color: white;
    /* border: 1px solid transparent; */
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    /* outline: 1px solid black; */
    -webkit-appearance: none;
}

.add:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer; 
}

.consume {
    background-color: #007bff;
    border-radius: .25rem;
    font-weight: bold; 
    border: 1px solid #007bff;
    color: white; 
    display: inline-block;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    -webkit-appearance: none;
}

.consume:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer; 
}

h1 {
    font-size: 4rem; 
}

h2 {
    border-bottom: 1px solid black; 
    line-height: 140%; 
    font-size: 1.4rem;
    text-align: center; 
}

.table {
    display: table;
    width: 50%; 
    margin: 0 auto; 
}

.row {
    display: table-row;
}

.cell {
    border: 1px solid #999999;
	display: table-cell;
    padding: 3px 10px;
    width: 50%;
}

li {
    line-height: 140%;
}

.consume {
    margin: 0 0 0 4px; 
}

@media only screen and (max-width: 720px) {
    .table {
      width: 80%; 
    }
    h1 {
        font-size: 2.4rem; 
    }
    .input-text,
    .add {
        padding: 5px 10px;
        font-size: 16px;
    }
  }

/* ----
font-family: 'Girassol', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Baskervville', serif;
---- */